$cy-risk-color: #c22642;
$cy-risk-color-activated: #8B000F;
$cy-risk-color-shadow: #f9a5ae;

$main-color: #38dee4;
$main-color-80: #38dee4;
$main-dark-color: #007777;
$main-light-color: #66f8fd;

$text-color: #343434;
$text-dark-color: black;

$border-color: rgba(0, 0, 0, 0.125);
$shadow-color: #0c0c0c;
$content-bg-color: #f3f3f3;
