<header>
  <nav class="user-menu" (clickOutside)="onCloseMenu()">
    <ul>
      <li class="dropdown" (click)="onToggleMenu()">
        <div class="dropdown-toggle pointer">
					<span class="user-name"
                *ngIf="loggedUser">{{ loggedUser.firstName + ' ' + loggedUser.lastName }}</span>
        </div>
        <div class="dropdown-menu dropdown-menu-right" [class.show]="isOpenMenu">
          <a class="dropdown-item pointer" (click)="onLogout()">
            <i class="fas fa-power-off"></i> Logout
          </a>
        </div>
      </li>
    </ul>
  </nav>
</header>
