<dx-validation-group>
  <div class="row d-flex align-items-center mt-3">
    <div class="col text-lg-left">
      <div class="label text-left mb-3">First name:</div>
      <dx-text-box [(value)]="editingStaff.first_name">
        <dx-validator>
          <dxi-validation-rule type="required"
                               message="Username is required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
    <div class="col text-lg-right">
      <div class="label text-left mb-3">Last name:</div>
      <dx-text-box [(value)]="editingStaff.last_name">
        <dx-validator>
          <dxi-validation-rule type="required"
                               message="Username is required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
  </div>
  <div class="field mt-3">
    <div class="label mb-3">Email:</div>
    <dx-text-box valueChangeEvent="keyup" [(value)]="editingStaff.email">
      <dx-validator>
        <dxi-validation-rule type="required" message="Email is required.">
        </dxi-validation-rule>
        <dxi-validation-rule type="email" message="Invalid email">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2">
      <div class="label">Gender:</div>
    </div>
    <div class="col-lg-10">
      <dx-check-box [(value)]="genderMale"
                    [width]="80"
                    text="Male"
                    (onValueChanged)="genderMaleChanged()"></dx-check-box>
      <dx-check-box [(value)]="genderFemale"
                    [width]="80"
                    text="Female"
                    (onValueChanged)="genderFemaleChanged()"></dx-check-box>
    </div>
  </div>
  <div class="field mt-3">
    <div class="label mb-3">Address:</div>
    <dx-text-box [(value)]="editingStaff.address">
      <dx-validator>
        <dxi-validation-rule type="required"
                             message="Password is required"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="row d-flex align-items-center mt-3 mb-5">
    <div class="col text-lg-left mt-2">
      <dx-button width="150" text="Sign up" type="danger"
                 [(disabled)]="!isFormDirty ||isSubmitting"
                 (onClick)="onSaveClick($event)"></dx-button>
    </div>
  </div>
</dx-validation-group>
