<div class="register-wrap d-flex flex-row align-items-center">
  <div class="container register-container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="register-form">
          <div class="mb-3 text-center register_head">
            Create your account
          </div>
          <div class="form-wrap">
            <dx-validation-group>
              <div class="field mt-3">
                <div class="label">First name</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.firstName">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Full name is required.">
                    </dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="field mt-3">
                <div class="label">Last name</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.lastName">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Full name is required.">
                    </dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="field mt-3">
                <div class="label">Email</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.email">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Email is required.">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="email" message="Invalid email">
                    </dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="field mt-3">
                <div class="label">Username</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.username">
                  <dx-validator>
                    <dxi-validation-rule type="required"
                                         message="Password is required"></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="field mt-3">
                <div class="label">Password</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.password" mode="password">
                  <dx-validator>
                    <dxi-validation-rule type="required"
                                         message="Username is required"></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="row d-flex align-items-center mt-4 mb-3">
                <div class="col text-lg-right">
                  <dx-button width="150" text="Create account" type="default"
                             [(disabled)]="isSubmitting"
                             (onClick)="onSaveClick($event)"></dx-button>
                </div>
                <div class="col text-lg-left">
                  <dx-button width="150" type="danger" text="Cancel"
                             [(disabled)]="isSubmitting" (onClick)="onCancel($event)">
                  </dx-button>
                </div>
              </div>
              <div class="row pt-3 pb-3">
                <div class="col">
                  <h6>Already have an account?
                    <a [routerLink]="['/login']">Login now.</a>
                  </h6>
                </div>
              </div>
            </dx-validation-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
