<div class="login-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="mb-5">
          <div class="logo-wrap mb-5 text-center register_head">
            Create your account
          </div>
          <div class="form-wrap">
            <dx-validation-group>
              <div class="field mt-3">
                <div class="label">First name</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.firstName">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Full name is required.">
                    </dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="field mt-3">
                <div class="label">Last name</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.lastName">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Full name is required.">
                    </dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="field mt-3">
                <div class="label">User name</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.username">
                  <dx-validator>
                    <dxi-validation-rule type="required"
                                         message="Password is required"></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="field mt-3">
                <div class="label">Password</div>
                <dx-text-box valueChangeEvent="keyup" [(value)]="user.password" mode="password">
                  <dx-validator>
                    <dxi-validation-rule type="required"
                                         message="Username is required"></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="row d-flex align-items-center mt-3">
                <div class="col text-lg-left mt-2">
                  <dx-button width="150" height="35" text="Sign up" type="danger"
                             [(disabled)]="isSubmitting"
                             (onClick)="onSaveClick($event)"></dx-button>
                </div>
                <div class="col text-lg-left mt-2">
                  <dx-button width="150" height="35" type="danger"
                             [(disabled)]="isSubmitting">
                    <a [routerLink]="['/login']" style="color: white">Cancel</a>
                  </dx-button>
                </div>
              </div>
            </dx-validation-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
